.chart-main-pic {
  height: 182px;
  width: 83px;
}

.dashboard-chart-box {
  display: flex;
  width: 528px;
  padding: 0 16px 0 16px;
}

.orange-dashboard-chart, .green-dashboard-chart {
  width: 208px;
}

.orange-dashboard-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.green-dashboard-chart {
  display: flex;
  flex-direction: column;
}

#icons {
  padding: 3px;
}

.orange-dashboard-chart div {
  /* background-color: rgb(252,	95,	49); */
  display: flex;
  align-items: flex-end;
}

.green-dashboard-chart div {
  background-color: rgb(96,	200,	167);
}

.orange-dashboard-chart a {
  display: flex;
  flex-direction: row-reverse;
}

.green-dashboard-chart a {
  display: flex;
}

.orange-dashboard-chart .filler-name {
  background: white!important;
  color: rgb(148,	148,	163)!important;
  font-size: 12px!important;
  text-shadow: 0.25px 0.25px 1px lightgrey!important;
  margin-right: 50px!important;
}

.green-dashboard-chart .filler-name {
  background: white!important;
  color: rgb(148,	148,	163)!important;
  font-size: 12px!important;
  text-shadow: 0.25px 0.25px 1px lightgrey!important;
  margin-left: 50px!important;
}

.orange-dashboard-chart div, .green-dashboard-chart div {
  border-radius: 5px;
  color: white;
  margin: 5px 7px 5px 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40px;
}

.dashboard-chart-item-div {
  overflow: hidden;
}

.dashboard-chart-name, .dashboard-chart-amount {
  height: auto !important;
  display: block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4px;
  margin: 0px 0px;
}

.orange-dashboard-chart .dashboard-chart-item-div {
  border: 1px solid rgb(226,	85,	44);
  border-bottom: 1px solid rgb(189,	71, 37);
  border-radius: 4px;
  color: white;
  text-shadow: 0 -1px 0 rgb(198, 44,3);
  /* box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2); */
  background-color: rgb(252,	95 ,49);
  box-shadow: inset 0px 1px 0px rgb(253,	127,	90), 0 1px 2px 1px rgba(0,0,0,0.2);
}

.orange-dashboard-chart .dashboard-chart-item-div .dashboard-chart-name {
  text-align: right;
}

.dashboard-chart-name {
  /* padding-top: 5px; */
}

.green-dashboard-chart .dashboard-chart-item-div {
  border: 1px solid rgb(86,	180,	150);
  border-bottom: 1px solid rgb(72,	150,	125);
  border-radius: 4px; 
  color: white;
  box-shadow: inset 0px 1px 0px rgb(128,	211,	185	), 0 1px 2px 1px rgba(0,0,0,0.2);
  text-shadow: 0 -1px 0 rgb(55, 139, 112);
  background: #5bc5a7;
}
