.payment-icon {
  width: 58px!important;
  height: 58px!important;
  border-radius: 30px!important;
  border: 1px solid #999!important;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.3)!important;
}

.payment-arrow {
  width: 32px!important;
  height: 20px!important;
  border: none!important;
}

.payment-modal-outer-div {
  background: white;
}

.payment-modal-header {
  background: #5cc5a7;
  color: #fff;
  padding: 0px;
  border-bottom: 1px solid #36977b;
  text-shadow: 0 -1px 0 #318a71;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.payment-modal-header div {
  padding-left: 15px;
}

.payment-form-pics {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.payment-modal-div {
    background: #fff;
    width: 350px;
    height: 300px;
    border: 1px solid #999;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-modal-who-pay-who {
  display: flex;
  align-items: center;
}

.payment-modal-who-pay-who button, .paid-by-bill span{
  background: rgb(246,	246,	246);
  border: 1px dashed rgb(204,	204,	204);
  color: rgb(97,	200,	167)!important;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}



.payment-modal-outer-div {
  position: relative;
  display: flex;
  align-items: center;
}

.payment-pop-up h3 {
  padding: 0px;
  margin: 0px;
  background: #5cc5a7;
  color: #fff;
  padding: 0px;
  border-bottom: 1px solid #36977b;
  text-shadow: 0 -1px 0 #318a71;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.payment-pop-up li {
  line-height: 45px;
  padding-left: 20px;
  display: flex;
  align-items: center;

}

.payment-pop-up li:hover {
  background: rgb(238, 238, 238);
}

.payment-pop-up img {
  width: 22px!important;
  height: 22px!important;
  border: 1px solid #ccc!important;
  border-radius: 12px!important;
  margin-right: 8px!important;
  margin-top: -2px!important;
}

.payment-modal-form label {
  font-size: 20px;
  border-bottom: 1px dashed rgb(204, 204,	204);
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-modal-form {
  display: flex;
  align-items: center;
}

.payment-modal-form input {
  margin-left: 10px;
  border: none;
  font-size: 36px;
  background: transparent;
  width: 100px;
}

.payment-button-holder {
  width: 100%;
  display:flex;
  flex-direction: row-reverse;
}

.payment-pop-up {
  position: absolute;
  top: 300px;
  background: #fff;
  width: 350px;
  border: 1px solid #999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  overflow: hidden;
  border-radius: 5px;
  top: 0px;
  right: -371px;
  opacity: 1;
}

.payment-pop-up {
  animation: swagAnimation .25s ease-in 0s forwards;
  /* -webkit-animation-fill-mode: forwards; */
  animation-fill-mode: forwards;
}


@keyframes swagAnimation {
  from {
  transform: rotate(180deg);
  right: -100px;
  top: -200px;
  opacity: 1;
}
to {
  top: 0px;
  opacity: 1;
  right: -371px;
  transform: rotate(360deg);
}


    /* to {
        opacity: 1;
        width: 350px;
        height:auto;
        overflow:hidden;
    } */
}
