.header-group {
  position: relative;
}

/* .modal-box {
  position: relative;
} */

.user-dropdown-modal-div {
  font-size: 14px;
  position: absolute;
  z-index: 100;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  top: 50px;
  right: 0px;
  width: 160px;
  height: 71px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.user-dropdown-modal-div ul li button {
  width: 100%;
}

.user-dropdown-modal {
  height: 100%;
  width: 100%;
}

.user-dropdown-modal li{
  width: 100%;
  line-height: 35px;
  display: block;

}

.user-dropdown-modal li:hover{
  background-color: #5bc5a7;
  color: white;
}

.user-dropdown-button {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 0px;
  height: 50px;
  width: 100px;
  padding: 0 5px 0 5px;
  overflow: visible;
}

.user-dropdown-button:hover {
  background-color: rgb(79, 193, 157);
}

.user-dropdown-img {
  border: 1px solid rgb(62, 175, 143);
  border-radius: 1000px;
  height: 22px;
  width: auto;
}

.user-dropdown-button span {
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  line-height: 19px;
  padding: 5px 2px 5px 5px;
}

.caret {
  opacity: 0.3;
  color: white;
  font-size: 10px;
}

.hidden-user-dropdown {
  display: none;
}

.user-button-div {
  /* position: relative; */
}

#popover-arrow {
  content: "";
  color: white;
  position: absolute;
  bottom: 100px;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 0px solid #ddd;
  border-bottom: 8px solid #ddd;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  background: transparent;
  top: -8px;
  right: 7px;
}

/* #popover-arrow {
  position:absolute;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  transform: rotate(180deg);
  font-size: 20px;
  bottom: 93px;
} */
